/* Site colours */
$site-background : #d5c5c8;
$box-background : #9da3a4;
$border : #604d53;
$highlight : #db7f8e;
$box-highlight : #ffdbda;

/* Text Styles*/
/*Site Fonts*/

/*Font Sizes*/
$heading-large : 1.3em;
$heading-small : 1.2em;
$para-text : 1em;